lucene-tutorial-code
trec_eval-9.0.7

# OSX files
.DS_Store

# vscode
.vscode

# generated & language server files
.settings
.project
.classpath
.factorypath

# java generated
target

# result
result_*
!result_*.gnuplot
!result_*.png

# pem
cs7is3.pem
